{% extends "layout.html" %}
{% block body %}
<!-- Index Page -->

<!-- Header -->
<!-- <header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/japan.png" alt="">
                <div class="intro-text">
                    <span class="name">Junction asia</span>
                    <hr class="star-light">
                    <span class="skills">
                        beacon app
                    </span>
                </div>
            </div>
        </div>
    </div>
</header> -->

<!-- Form Section -->
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>WHERE IS MY FRIEND?</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form action="/status" method="get">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Ticket ID</label>
                            <input type="text" class="form-control" placeholder="Ticket ID" data-name="ticket_id" name="ticket_id" required data-validation-required-message="Please enter ticket id.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <h2 style="text-align: center; ">OR</h2>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Passenger Name</label>
                            <input type="text" class="form-control" placeholder="Passenger Name" data-name="username" name="username" required data-validation-required-message="Please enter passenger name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                            <input type="submit" style="text-align: center;" class="btn btn-primary" value="Check"/>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}
