{% extends "layout.html" %}
{% block body %}

<!-- Form Section -->
<div id="ticket_id">{{ ticket_id }} </div>
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>STATUS</h4>
                <!-- <i class="fa fa-plane fa-2x" aria-hidden="true"></i> -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <img src="img/stopped.png" class="img-responsive" alt="Going 0" id="image0">
            </div>
            <div class="col-xs-1"  style="text-align: center">
                {% for i in range(2) %}
                    <i class="fa fa-arrow-right fa-2x class{{0}}" aria-hidden="true"></i>
                {% endfor %}
                <br/>
                <br/>
                <img src="img/immig.png" width="50px" >
                <br/>
                <br/>
                Immigration
            </div>
            <div class="col-xs-2">
                <img src="img/going.png" class="img-responsive" alt="Going 1" id="image1">
            </div>
            <div class="col-xs-1"  style="text-align: center">
                {% for i in range(2) %}
                    <i class="fa fa-arrow-right fa-2x class{{1}} " aria-hidden="true"></i>
                {% endfor %}
                <br/>
                <br/>
                <img src="img/bag.png" width="50px" >
                <br/>
                <br/>
                Baggage Claim

            </div>
            <div class="col-xs-2">
                <img src="img/going.png" class="img-responsive" alt="Going 2" id="image2">
            </div>
            <div class="col-xs-1" style="text-align: center">
                {% for i in range(2) %}
                    <i class="fa fa-arrow-right fa-2x class{{2}}" aria-hidden="true"></i>
                {% endfor %}
                <br/>
                <br/>
                <img src="img/exit.png" width="50px" >
                <br/>
                <br/>
                EXIT
            </div>
            <div class="col-xs-2">
                <img src="img/going.png" class="img-responsive" alt="Going 3" id="image3">
            </div>
        </div>
    </div>
</section>

<script src="js/status.js"></script>
{% endblock %}
